<div class="about">
    <div class="intro">
        <img src="assets/img/fabi.jpg" alt="profil-img">
        <div class="intro-text">
            <h2>About me.</h2>
            <div>
                <p>" I'm an sports enthusiast (love to play football) 
                    and front end developer who loves pushing boundries "</p>
            </div>
            
        </div>
    </div>
    
    <div class="hiphen"></div>

    <div class="info-section">
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/walk-line.png" alt="walking img">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis recusandae earum corporis qui voluptates fugiat culpa illum fuga laboriosam iusto ab inventore, nesciunt sed, autem dolore odio quasi aut expedita.</p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/heart-line.png" alt="walking img">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis recusandae earum corporis qui voluptates fugiat culpa illum fuga laboriosam iusto ab inventore, nesciunt sed, autem dolore odio quasi aut expedita.</p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/search-line.png" alt="walking img">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis recusandae earum corporis qui voluptates fugiat culpa illum fuga laboriosam iusto ab inventore, nesciunt sed, autem dolore odio quasi aut expedita.</p>
        </div>
        <div class="info-box">
            <div class="img-box">
                <img src="assets/img/flight-takeoff-line.png" alt="walking img">
            </div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis recusandae earum corporis qui voluptates fugiat culpa illum fuga laboriosam iusto ab inventore, nesciunt sed, autem dolore odio quasi aut expedita.</p>
        </div>
    </div>
</div>
