<div class="project-section">
    <h2>My work</h2>
    <div class="prjct-selection">
        <button [class.btn-active]="buttons[0]['isActive']" (click)="filterProjects('all')">All</button>
        <button [class.btn-active]="buttons[1]['isActive']" (click)="filterProjects('angular')">Angular</button>
        <button [class.btn-active]="buttons[2]['isActive']" (click)="filterProjects('js')">Java Script</button>
    </div>
    <div class="projects">
        <div class="project">
            <img src="assets/img/el_pollo_loco.png" alt="img">
            <div class="overlay">
                <h3>Project</h3>
                <span>Try out this project.</span>
                <button>Try out</button>
            </div>
        </div>
        <div class="project">
            <img src="assets/img/Join.png" alt="img">
            <div class="overlay">
                <h3>Project</h3>
                <span>Try out this project.</span>
                <button>Try out</button>
            </div>
        </div>
        <div class="project">
            <img src="assets/img/coding.jpg" alt="img">
            <div class="overlay">
                <h3>Project</h3>
                <span>Try out this project.</span>
                <button>Try out</button>
            </div>
        </div>
        <div class="project">
            <img src="assets/img/coding.jpg" alt="img">
            <div class="overlay">
                <h3>Project</h3>
                <span>Try out this project.</span>
                <button>Try out</button>
            </div>
        </div>


    </div>
</div>