.contact {
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: var(--bg-black);
    h2 {
        color: var(--secondary-color);
        font-size: 50px;
        margin-top: 0;
    }
}

.mail {
    color: var(--secondary-color);
    text-decoration: none;
}

.content {
    width: 650px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    textarea,
    input {
        font-family: "Open Sans", sans-serif;
        background-color: var(--bg-gray);
        color: white;
        border: none;
        margin: 10px 0;
        padding: 8px 10px;
        resize: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
    button {
        width: fit-content;
        padding: 18px 55px;
        margin-top: 15px;
        background-color: var(--bg-black);
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        border-radius: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.btn-box {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 700px) {
    .content {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .contact{
        h2 {
            font-size: 35px;
        }
        span{
            font-size: 16px;
        }
    }
    
    .content {
        width: 90%;
    }
}

