.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 32px;
        &:hover {
            color: var(--primary-color);
        }
    }

    .logo{
        height: 65px;
    }

    .burger-menu{
        height: 40px;
    }
}

@media(max-width: 900px) {
    .menu{
        padding: 30px 40px;

        a{
            display: none;
        }
    }
}
